@import '../../styl/component-include.styl'

.i-ph-animated
  
  .b-news-detail
    position static
    width auto
    opacity 1
    
  .b-news-detail__ph
    position absolute
    top 0
    left 0
    opacity 0
    z-index -1
          
.b-news-detail
  width auto
  
  h1
    margin-top 0 !important
    
  ul:not(.browser-default)
    padding-left 40px
    list-style-type disc
    
    > li
      list-style-type disc
