// start /components/news.detail/

link( rel="stylesheet", href="/components/news.detail/style.css" )
script( src="/components/news.detail/script.js" )

.b-news-detail
  
  .row
    
    .col.m2.s12
      hr.i-size-S.hide-on-small-only.show-on-medium-and-up
      a.b-label( href="../" ) Новости
      
    hr.show-on-small.hide-on-med-and-up.clearfix
    
    .col.m8.s12
      h1 Офис продаж ЖК "Ново-Никольское" переходит в режим онлайн

  .row
  
    .col.m8.s12.offset-m2
    
      img.responsive-img( src="/upload/gallery/1.jpg")
    
    hr.clearfix
    
    .col.m6.s12.offset-m3
    
      p Для обеспечения безопасности комплекс огорожен по периметру, на въездах установлены КПП со шлагбаумами. По желанию все собственники квартир, коттеджей, таунхаусов будут иметь возможность установить дополнительный многоуровневый охранный комплекс для подключения к пультовой охране. 

      ul
        li Придомовая территория комплекса благоустроена,
        li произведено озеленение с высадкой деревьев и кустарников,
        li разбиты газоны и клумбы.

      ul.browser-default
        li Придомовая территория комплекса благоустроена,
        li произведено озеленение с высадкой деревьев и кустарников,
        li разбиты газоны и клумбы.
      
      p Со стороны Киевского шоссе «Ново-Никольское» окружают лесные массивы, а река Десна, протекающая вдоль территории ЖК, украшена живописным каскадом прудов. В километре от комплекса находится усадьба Старо-Никольское, главный дом усадьбы был построен в 19 веке, а в 2015 г. усадьба была отреставрирована.
      
      .text-left
        a( href="../" ) Вернуться в раздел новости

// end /components/news.detail/