.b-fotorama
  .fotorama( data-width="100%" data-ratio="1" data-arrows="true" data-click="true" data-swipe="true" data-autoplay="3000" data-loop="true" )

    .b-fotorama__frame
      .b-fotorama__container.i-show
        .b-fotorama__image
          img( src="/upload/detail/1.jfif" )

    .b-fotorama__frame
      .b-fotorama__container.i-show
        .b-fotorama__image
          img( src="/upload/detail/2.jfif" )

    .b-fotorama__frame
      .b-fotorama__container.i-show
        .b-fotorama__image
          img( src="/upload/detail/2.jfif" )