.b-big-gallery__fotorama.fotorama( data-ratio="4/3" data-width="100%" data-arrows="true" data-click="true" data-swipe="true" data-loop="true" )

  div
    .b-big-gallery__item( style="background-image: url( '/upload/gallery/1.jpg' );" )
  div
    .b-big-gallery__item( style="background-image: url( '/upload/gallery/2.jpg' );" )
  div
    .b-big-gallery__item( style="background-image: url( '/upload/gallery/3.jpg' );" )
  div
    .b-big-gallery__item( style="background-image: url( '/upload/gallery/4.jpg' );" )
  div
    .b-big-gallery__item( style="background-image: url( '/upload/gallery/5.jpg' );" )
  div
    .b-big-gallery__item( style="background-image: url( '/upload/gallery/6.jpg' );" )
  div
    .b-big-gallery__item( style="background-image: url( '/upload/gallery/7.jpg' );" )
  div
    .b-big-gallery__item( style="background-image: url( '/upload/gallery/8.jpg' );" )
  div
    .b-big-gallery__item( style="background-image: url( '/upload/gallery/9.jpg' );" )
  div
    .b-big-gallery__item( style="background-image: url( '/upload/gallery/10.jpg' );" )
  div
    .b-big-gallery__item( style="background-image: url( '/upload/gallery/11.jpg' );" )
  div
    .b-big-gallery__item( style="background-image: url( '/upload/gallery/12.jpg' );" )
  div
    .b-big-gallery__item( style="background-image: url( '/upload/gallery/13.jpg' );" )
  div
    .b-big-gallery__item( style="background-image: url( '/upload/gallery/14.jpg' );" )
  div
    .b-big-gallery__item( style="background-image: url( '/upload/gallery/15.jpg' );" )
  div
    .b-big-gallery__item( style="background-image: url( '/upload/gallery/16.jpg' );" )
  div
    .b-big-gallery__item( style="background-image: url( '/upload/gallery/17.jpg' );" )
  div
    .b-big-gallery__item( style="background-image: url( '/upload/gallery/18.jpg' );" )
  div
    .b-big-gallery__item( style="background-image: url( '/upload/gallery/19.jpg' );" )
  div
    .b-big-gallery__item( style="background-image: url( '/upload/gallery/20.jpg' );" )