.b-fotorama
  .fotorama( data-width="100%" data-ratio="1" data-arrows="true" data-click="true" data-swipe="true" data-autoplay="3000" data-loop="true" )

    .b-fotorama__frame
      .b-fotorama__container.i-show
        span.b-fotorama__image( style="background-image: url('/upload/gallery/1.jpg');" )

    .b-fotorama__frame
      .b-fotorama__container.i-show
        span.b-fotorama__image( style="background-image: url('/upload/gallery/2.jpg');" )          

    .b-fotorama__frame
      .b-fotorama__container.i-show
        span.b-fotorama__image( style="background-image: url('/upload/gallery/3.jpg');" )