extends ../../layouts/main

block title
  title Акции | NN
  
block ph-styles
  link( href="/template/placeholders/actions.css" rel="stylesheet" )

block content

  .container
    include ../../modules/breadcrumbs/actions
  
  .container

    hr
    h1 Акции
  
  section#actions.container

    .b-actions__ph
    
      .b-actions__ph__item
        .b-actions__ph__img
        .b-actions__ph__text
          div
          div
          div
        
      .b-actions__ph__item
        .b-actions__ph__img
        .b-actions__ph__text
          div
          div
          div
        
      .b-actions__ph__item
        .b-actions__ph__img
        .b-actions__ph__text
          div
          div
          div
  
    include ../../components/pagination/template
    include ../../components/actions/template
  
  hr.i-size-L
  