
<!-- start /components/detail/-->
<link href="/template/fotorama.css" rel="stylesheet"/>
<script src="/template/fotorama.js"></script>
<link rel="stylesheet" href="/components/detail/style.css"/>
<script src="/components/detail/script.js"></script>
<div class="b-detail-ph">
  <div class="b-detail-ph__gallery">
    <div></div>
  </div>
  <div class="b-detail-ph__text">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<div class="b-detail">
  <div class="row">
    <div class="col l6 m12 s12">
      <div class="b-fotorama">
        <div class="fotorama" data-width="100%" data-ratio="1" data-arrows="true" data-click="true" data-swipe="true" data-autoplay="3000" data-loop="true">
          <div class="b-fotorama__frame">
            <div class="b-fotorama__container i-show">
              <div class="b-fotorama__image"><img src="/upload/detail/1.jfif"/></div>
            </div>
          </div>
          <div class="b-fotorama__frame">
            <div class="b-fotorama__container i-show">
              <div class="b-fotorama__image"><img src="/upload/detail/2.jfif"/></div>
            </div>
          </div>
          <div class="b-fotorama__frame">
            <div class="b-fotorama__container i-show">
              <div class="b-fotorama__image"><img src="/upload/detail/2.jfif"/></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="show-on-small show-on-medium hide-on-med-and-up clearfix"/>
    <div class="col l5 m12 s12 push-l1">
      <hr/>
      <div class="row">
        <div class="col s3">
          <div class="b-h-num">
            <div class="b-h6">Корпус</div>
            <div class="b-h-num__num">47</div>
          </div>
        </div>
        <div class="col s3">
          <div class="b-h-num">
            <div class="b-h6">Секция</div>
            <div class="b-h-num__num">1</div>
          </div>
        </div>
        <div class="col s3">
          <div class="b-h-num">
            <div class="b-h6">Этаж</div>
            <div class="b-h-num__num">5</div>
          </div>
        </div>
        <div class="col s3">
          <div class="b-h-num">
            <div class="b-h6">Комнат</div>
            <div class="b-h-num__num">5</div>
          </div>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col xl6 l12 m12 s12">
          <div class="b-h-num">
            <div class="b-h6">Площадь</div>
            <div class="b-h-num__num">89,3 м<sup>2</sup></div>
          </div>
        </div>
        <hr class="i-hide-on-xlarge-only clearfix"/>
        <div class="col xl6 l12 m12 s12">
          <div class="b-h-num">
            <div class="b-h6">Цена за квадратный метр</div>
            <div class="b-h-num__num">250 000 руб.</div>
          </div>
        </div>
      </div>
      <hr/>
      <div class="b-h-num">
        <div class="b-h6">Цена</div>
        <s>8 000 000 руб.</s>
        <div class="b-h-num__num"><span id="request_price">7 154 000</span> 
          руб.
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end /components/detail/-->