extends ../../layouts/main

block title
  title Main page | NN
  
block ph-styles
  link( href="/template/placeholders/main.css" rel="stylesheet" )

block content
    
  section#gallery.container
  
    .b-gallery__ph
      .b-gallery__ph-container
    
    include ../../components/top-gallery/template
  
  hr.i-size-L
  
  section#buildings.container
      
    include ../../modules/buildings/include
  
  hr.i-size-XL
  
  section#advantages.container
  
    include ../../modules/heading/advantages
    
    .row
      .col.m3.s6
        img( src="/upload/advantages/1.svg" alt="" )
        p  4 секционный<br>дом клубного формата
        
      .col.m3.s6
        img( src="/upload/advantages/2.svg" alt="" )
        p Подземный паркинг<br>на 249 машино-мест
        
      hr.show-on-small.hide-on-med-and-up.clearfix
        
      .col.m3.s6
        img( src="/upload/advantages/3.svg" alt="" )
        p Детский досуговый центр<br>на первом этаже
        
      .col.m3.s6
        img( src="/upload/advantages/4.svg" alt="" )
        p Благоустроенная придомовая<br>территория
    
    .row
      .col.m3.s6
        img( src="/upload/advantages/5.svg" alt="" )
        p Cпортивная<br>и детская площадки,<br>зона отдыха
        
      .col.m3.s6
        img( src="/upload/advantages/6.svg" alt="" )
        p Высокая<br>транспортная<br>доступность
        
      hr.show-on-small.hide-on-med-and-up.clearfix
        
      .col.m3.s6
        img( src="/upload/advantages/7.svg" alt="" )
        p Развитая<br>инфраструктура<br>района
        
      .col.m3.s6
        img( src="/upload/advantages/8.svg" alt="" )
        p Доступные<br>финансовые<br>программы
  
  hr.i-size-L
  
  section#description.container
    include ../../modules/heading/description
    
    .row
    
      .col.m6
        p Масштабный жилой комплекс «Ново-Никольское» расположен в живописном районе Новой Москвы, в 21 км от МКАД по Киевскому шоссе. Комплекс полностью построен. На территории 115 Га представлены разнообразные форматы жилья: коттеджи, дуплексы, таунхаусы, квартиры в малоэтажных и многоэтажных домах.
        
        ul.browser-default
          li Жители «Ново-Никольского» получают московскую прописку
          li И жилье высокого уровня комфорта
          li Расположенное в экологически чистом месте
        
        p Жители «Ново-Никольского» получают московскую прописку и жилье высокого уровня комфорта, расположенное в экологически чистом месте с прекрасно развитой инфраструктурой.

        p Для удобства и комфорта жильцов на территории комплекса построена школа на 825 мест, детский сад на 150 мест, минимаркет, организованы детские и спортивные площадки. Детский сад и школа в ближайшее время будут введены в эксплуатацию. Для автовладельцев в комплексе предусмотрены парковочные места, как на придомовой территории, так и в крытом семиуровневом паркинге.

        blockquote Все объекты построенны и введены в эксплуатацию.
        
      hr.hide-on-med-and-up.clearfix
        
      .col.m6
        blockquote Придомовая территория комплекса благоустроена, произведено озеленение с высадкой деревьев и кустарников, разбиты газоны и клумбы.

        p Для обеспечения безопасности комплекс огорожен по периметру, на въездах установлены КПП со шлагбаумами. По желанию все собственники квартир, коттеджей, таунхаусов будут иметь возможность установить дополнительный многоуровневый охранный комплекс для подключения к пультовой охране. 

        p Придомовая территория комплекса благоустроена, произведено озеленение с высадкой деревьев и кустарников, разбиты газоны и клумбы.
        
        p Со стороны Киевского шоссе «Ново-Никольское» окружают лесные массивы, а река Десна, протекающая вдоль территории ЖК, украшена живописным каскадом прудов. В километре от комплекса находится усадьба Старо-Никольское, главный дом усадьбы был построен в 19 веке, а в 2015 г. усадьба была отреставрирована.

  
  hr.i-size-L
  
  section#plan.container
    include ../../modules/heading/plan
  
  hr.i-size-L
  