@font-face {
 font-family: "font";
 src: url("./fonts/font.ttf") format("ttf"),
      url("./fonts/font.woff") format("woff");
}

.container

  @media only screen and (min-width: 993px)
    width 90% !important
    
  @media print
    width auto !important
    min-width 0
    max-width auto

body
  background #fff
  color $text-color
  font-family $font-roboto
  font-size 18px
  text-align justify
  
a
  transition( opacity .2s ease )
  color #245ba7
  
  &:hover
    opacity .3
    
h1  
  overflow visible
  height auto
  font-family "font", Georgia

  &.i-ph-animated
    color #000
    
    &:after
      background-color transparent
      width auto
      opacity 0
      z-index 0
    
  @media( max-width 600px )
    font-size 16pt
  
h2
  font-size 14pt
  
h3
  font-family $font-roboto
  font-size 24px

.b-h6
  color $text-lightcolor
  font-size 8pt
  
hr
  border none
  margin 0
  padding 10px 0
  
  //5px
  &.i-size-XS
    padding 2px 0 3px
  
  //10px
  &.i-size-S
    padding 5px 0
    
  //15px
  &.i-size-M
    padding 7px 0 8px
    
  //20px
  &
    padding 10px 0
    
  //40px
  &.i-size-L
    padding 20px 0
    
  //60px
  &.i-size-XL
    padding 30px 0
    
.i-hide-on-xlarge-only

  @media( min-width 1201px )
    display none
    
.btn, .btn-large, .btn-small
  font-size: 7pt;
  text-transform: uppercase;
  color: #fff;
  background-color: $brand-color;
  box-shadow: none;
  border-radius: 0;
  transition( opacity .2s ease-out )
  white-space nowrap
  
  &:hover
    box-shadow none
    background-color $brand-color
    opacity .7
  
.b-button
  display inline-block
  background-color $brand-color
  color #fff
  border-radius 4px
  padding 0 30px
  line-height 65px
  font-size 13px
  font-family $font-roboto
  font-weight 700
  text-align center
  text-transform uppercase
  white-space nowrap
  border none
  transition( opacity .5s ease )
  cursor pointer
  max-width 100%
  
  &:hover
    opacity .7
    
  button&:focus
    background-color $brand-color
  
.row
  margin-bottom 0
  margin-right -15px
  margin-left -15px
  padding 20px 0
  
  @media( max-width 600px )
    padding 0
  
  .col
    padding-right 15px
    padding-left 15px
    
    @media only screen and ( min-width 1201px )
    
      &.xl6
        width 50%
        margin-left auto
        left auto
        right auto
        
@media only screen and ( min-width 1201px )

  .hide-on-xlarge-only
    display none !important
  
.text-center
  text-align center
  
.text-right
  text-align right
  
.text-left
  text-align left
  
[type="checkbox"]:checked+span:not(.lever):before
  border-right-color $brand-color-2
  border-bottom-color $brand-color-2
  
ul.browser-default
  
  li
    margin-bottom 7px
  
#advantages
  display block

  img
    max-width 100px
    display block
    margin 0 auto

  p
    text-align center
    word-break break-word
    
  .col
    transition( all 1s ease )
    /*opacity 0
    
    &:nth-of-type(1)
      transform( translateX( -200px ))
      
    &:nth-of-type(2)
      transform( translateX( -100px ))
    
    &:nth-of-type(3)
      transform( translateX( 100px ))
      
    &:nth-of-type(4)
      transform( translateX( 200px ))
    
  &.i-scroll-animated
    
    .col
      opacity 1
      
      &:nth-of-type(1),
      &:nth-of-type(2),
      &:nth-of-type(3),
      &:nth-of-type(4)
        transform( translateX(0))*/
    
    
#description
  display block
    
  @media( min-width 601px )
  
    .col
      padding 0 55px
    
blockquote
  background #255aa7
  padding 40px
  margin 0 -40px
  font-family $font-roboto
  font-size 18px
  line-height 1.5
  border 0
  color #fff
  
  @media( max-width 600px )
    margin 0
    padding 30px
    font-size 20px
        
#ymapPH
  padding-top 100%
  background-color pink
  
#planText
  position relative
    
.i-ph-animated
  
  .b-plan-text-ph
    position absolute
    top 0
    left 0
    opacity 0
    z-index 1
  
  .b-plan-text
    position static
    opacity 1
  
.b-plan-text
  position static
  opacity 1  
    
  &__tel
    font-size 26px
    text-align right
    padding-top 10px
    
    @media( max-width 1200px )
      text-align left
    
  .b-button
    padding 0 25px
    
.b-label
  display inline-block
  vertical-align top
  padding 10px 20px
  border-radius 5px
  background-color #f2f2f2
  font-size 12pt
  
.b-heading-icon
  display flex
  justify-content space-between
  align-items flex-start
  
  @media( max-width 600px )
    display block
