$brand-color = #cabb47 //olive
$brand-color-2 = #2577dc //blue
$placeholder-color = #f2f2f2
$text-color = #333
$text-lightcolor = $menu-color
$phone-color = #245ba7
$menu-color = $phone-color
$font-serif = "Times New Roman", Georgia
$font-roboto = Roboto, Arial, sans-serif

$highrise-color = $brand-color
$lowrise-color = $brand-color-2
$townhouse-color = $menu-color
$cottage-color = $text-color
$duplex-color = $phone-color