
<!-- start /components/gallery-tabs/-->
<link href="/template/swiper.min.css" rel="stylesheet"/>
<script src="/template/swiper.min.js"></script>
<link rel="stylesheet" href="/components/gallery-tabs/style.css"/>
<script src="/components/gallery-tabs/script.js"></script>
<div class="b-tabs-gallery">
  <div class="b-tabs-gallery__nav"><a class="i-active" href="" data-tab="gallery1">ГАЛЕРЕЯ 1</a><a href="" data-tab="gallery2">ГАЛЕРЕЯ 2</a><a href="" data-tab="gallery3">ГАЛЕРЕЯ 3</a></div>
  <div class="b-tabs-gallery__tab i-active" data-tab="gallery1">
    <div class="b-tabs-gallery__arrows">
      <div class="b-tabs-gallery__arrows-prev"></div>
      <div class="b-tabs-gallery__arrows-next"></div>
    </div>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><a href=""><img src="/upload/gallery/1.jpg" alt=""/></a></div>
        <div class="swiper-slide"><a href=""><img src="/upload/gallery/2.jpg" alt=""/></a></div>
        <div class="swiper-slide"><a href=""><img src="/upload/gallery/3.jpg" alt=""/></a></div>
        <div class="swiper-slide"><a href=""><img src="/upload/gallery/4.jpg" alt=""/></a></div>
        <div class="swiper-slide"><a href=""><img src="/upload/gallery/5.jpg" alt=""/></a></div>
        <div class="swiper-slide"><a href=""><img src="/upload/gallery/6.jpg" alt=""/></a></div>
        <div class="swiper-slide"><a href=""><img src="/upload/gallery/7.jpg" alt=""/></a></div>
        <div class="swiper-slide"><a href=""><img src="/upload/gallery/8.jpg" alt=""/></a></div>
        <div class="swiper-slide"><a href=""><img src="/upload/gallery/9.jpg" alt=""/></a></div>
      </div>
    </div>
  </div>
  <div class="b-tabs-gallery__tab" data-tab="gallery2">
    <div class="b-tabs-gallery__arrows">
      <div class="b-tabs-gallery__arrows-prev"></div>
      <div class="b-tabs-gallery__arrows-next"></div>
    </div>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><a href=""><img src="/upload/gallery/2.jpg" alt=""/></a></div>
        <div class="swiper-slide"><a href=""><img src="/upload/gallery/3.jpg" alt=""/></a></div>
        <div class="swiper-slide"><a href=""><img src="/upload/gallery/4.jpg" alt=""/></a></div>
        <div class="swiper-slide"><a href=""><img src="/upload/gallery/5.jpg" alt=""/></a></div>
        <div class="swiper-slide"><a href=""><img src="/upload/gallery/6.jpg" alt=""/></a></div>
        <div class="swiper-slide"><a href=""><img src="/upload/gallery/7.jpg" alt=""/></a></div>
        <div class="swiper-slide"><a href=""><img src="/upload/gallery/8.jpg" alt=""/></a></div>
        <div class="swiper-slide"><a href=""><img src="/upload/gallery/9.jpg" alt=""/></a></div>
      </div>
    </div>
  </div>
  <div class="b-tabs-gallery__tab" data-tab="gallery3">
    <div class="b-tabs-gallery__arrows">
      <div class="b-tabs-gallery__arrows-prev"></div>
      <div class="b-tabs-gallery__arrows-next"></div>
    </div>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><a href=""><img src="/upload/gallery/3.jpg" alt=""/></a></div>
        <div class="swiper-slide"><a href=""><img src="/upload/gallery/4.jpg" alt=""/></a></div>
        <div class="swiper-slide"><a href=""><img src="/upload/gallery/5.jpg" alt=""/></a></div>
        <div class="swiper-slide"><a href=""><img src="/upload/gallery/6.jpg" alt=""/></a></div>
        <div class="swiper-slide"><a href=""><img src="/upload/gallery/7.jpg" alt=""/></a></div>
        <div class="swiper-slide"><a href=""><img src="/upload/gallery/8.jpg" alt=""/></a></div>
        <div class="swiper-slide"><a href=""><img src="/upload/gallery/9.jpg" alt=""/></a></div>
      </div>
    </div>
  </div>
</div>
<!-- end /components/gallery-tabs/-->