.b-buildings__ph
  .b-buildings__ph__item
  .b-buildings__ph__item
  .b-buildings__ph__item
  .b-buildings__ph__item
  .b-buildings__ph__item

.b-buildings( style="background-image: url( '/template/images/buildings-bg.jpg' );" )

  a.b-buildings__item( href="" style="background-image: url( '/upload/buildings/1.jpg' );" )
    span Многоэтажные дома

  a.b-buildings__item( href="" style="background-image: url( '/upload/buildings/2.jpg' );" )
    span Многоэтажные дома

  a.b-buildings__item( href="" style="background-image: url( '/upload/buildings/3.jpg' );" )
    span Многоэтажные дома

  a.b-buildings__item( href="" style="background-image: url( '/upload/buildings/5.jpg' );" )
    span Многоэтажные дома

  a.b-buildings__item( href="" style="background-image: url( '/upload/buildings/6.jpg' );" )
    span Многоэтажные дома

