.b-buildings__ph
  .b-buildings__ph__item
  .b-buildings__ph__item
  .b-buildings__ph__item
  .b-buildings__ph__item
  .b-buildings__ph__item
  .b-buildings__ph__item
  .b-buildings__ph__item

.b-buildings

  a.b-buildings__item( href="" style="background-image: url( '/upload/buildings/1.jpg' );" )
    span Многоэтажные дома

  a.b-buildings__item( href="" style="background-image: url( '/upload/buildings/2.jpg' );" )
    span Малоэтажные дома

  a.b-buildings__item( href="" style="background-image: url( '/upload/buildings/3.jpg' );" )
    span Таунхаусы

  a.b-buildings__item( href="" style="background-image: url( '/upload/buildings/5.jpg' );" )
    span Дуплексы

  a.b-buildings__item( href="" style="background-image: url( '/upload/buildings/6.jpg' );" )
    span Коттеджи

  a.b-buildings__item( href="" style="background-image: url( '/upload/buildings/5.jpg' );" )
    span Паркинг

  a.b-buildings__item( href="" style="background-image: url( '/upload/buildings/6.jpg' );" )
    span Коммерческие помещения

