
<!-- start /components/actions.detail/-->
<link rel="stylesheet" href="/components/actions.detail/style.css"/>
<script src="/components/actions.detail/script.js"></script>
<div class="b-actions-detail">
  <div class="row">
    <div class="col m2 s12">
      <hr class="i-size-S hide-on-small-only show-on-medium-and-up"/><a class="b-label" href="../">Акции</a>
    </div>
    <hr class="show-on-small hide-on-med-and-up clearfix"/>
    <div class="col m8 s12">
      <h1>Офис продаж ЖК "Ново-Никольское" переходит в режим онлайн</h1>
    </div>
  </div>
  <div class="row">
    <div class="col m8 s12 offset-m2"><img class="responsive-img" src="/upload/gallery/1.jpg"/></div>
    <hr class="clearfix"/>
    <div class="col m6 s12 offset-m3">
      <p>Для обеспечения безопасности комплекс огорожен по периметру, на въездах установлены КПП со шлагбаумами. По желанию все собственники квартир, коттеджей, таунхаусов будут иметь возможность установить дополнительный многоуровневый охранный комплекс для подключения к пультовой охране. </p>
      <ul>
        <li>Придомовая территория комплекса благоустроена,</li>
        <li>произведено озеленение с высадкой деревьев и кустарников,</li>
        <li>разбиты газоны и клумбы.</li>
      </ul>
      <p>Со стороны Киевского шоссе «Ново-Никольское» окружают лесные массивы, а река Десна, протекающая вдоль территории ЖК, украшена живописным каскадом прудов. В километре от комплекса находится усадьба Старо-Никольское, главный дом усадьбы был построен в 19 веке, а в 2015 г. усадьба была отреставрирована.</p>
      <div class="text-left"><a href="../">Вернуться в раздел акции</a></div>
    </div>
  </div>
</div>
<!-- end /components/actions.detail/-->