extends ../../layouts/main

block title
  title Документы | NN
  
block ph-styles
  link( href="/template/placeholders/docs.css" rel="stylesheet" )

block content
  
  .container

    hr
    h1 Документы
  
  section#docs.container

    .b-docs__ph
  
    include ../../components/docs/template
  
  hr.i-size-L
  