// start /components/visual/

link( rel="stylesheet", href="/components/visual/style.css" )
script( src="/components/visual/script.js" )

.b-visual

  .b-visual__hint( data-num="1" style="background-image: url( '/components/visual/images/balloon.svg' );" ) 1
  .b-visual__hint( data-num="3" style="background-image: url( '/components/visual/images/balloon.svg' );" ) 3
  .b-visual__hint( data-num="5" style="background-image: url( '/components/visual/images/balloon.svg' );" ) 5
  .b-visual__hint( data-num="6" style="background-image: url( '/components/visual/images/balloon.svg' );" ) 6
  .b-visual__hint( data-num="8" style="background-image: url( '/components/visual/images/balloon.svg' );" ) 8
  .b-visual__hint( data-num="10" style="background-image: url( '/components/visual/images/balloon.svg' );" ) 10
  .b-visual__hint( data-num="12" style="background-image: url( '/components/visual/images/balloon.svg' );" ) 12
  
  img( src="/components/visual/images/visual.jfif" alt="" usemap="#visualMap" )
  
  img.b-visual__hover( data-num="1" src="/components/visual/images/hover1.png" alt="" )
  img.b-visual__hover( data-num="3" src="/components/visual/images/hover3.png" alt="" )
  img.b-visual__hover( data-num="5" src="/components/visual/images/hover5.png" alt="" )
  img.b-visual__hover( data-num="6" src="/components/visual/images/hover6.png" alt="" )
  img.b-visual__hover( data-num="8" src="/components/visual/images/hover8.png" alt="" )
  img.b-visual__hover( data-num="10" src="/components/visual/images/hover10.png" alt="" )
  img.b-visual__hover( data-num="12" src="/components/visual/images/hover12.png" alt="" )
  
  map( name="visualMap" )
  
  .b-visual__popup( data-num="1" )
    h3 Семена Гордого, д.1
    h3 Квартиры
    p Сдан
    | 1 комната от 45,9 м<sup>2</sup>, от 3 940 000 руб.
    br
    | 2 комнаты от 45,9 м<sup>2</sup>, от 3 940 000 руб.
    br
    | 3 комнаты от 45,9 м<sup>2</sup>, от 3 940 000 руб.
          
    hr
          
    a( href="" ) Все предложения
  
  .b-visual__popup( data-num="3" )
    h3 Семена Гордого, д.3
    h3 Квартиры
    p Сдан
    | 1 комната от 45,9 м<sup>2</sup>, от 3 940 000 руб.
    br
    | 2 комнаты от 45,9 м<sup>2</sup>, от 3 940 000 руб.
    br
    | 3 комнаты от 45,9 м<sup>2</sup>, от 3 940 000 руб.
          
    hr
          
    a( href="" ) Все предложения
  
  .b-visual__popup( data-num="5" )
    h3 Семена Гордого, д.5
    h3 Квартиры
    p Сдан
    | 1 комната от 45,9 м<sup>2</sup>, от 3 940 000 руб.
    br
    | 2 комнаты от 45,9 м<sup>2</sup>, от 3 940 000 руб.
    br
    | 3 комнаты от 45,9 м<sup>2</sup>, от 3 940 000 руб.
          
    hr
          
    a( href="" ) Все предложения
  
  .b-visual__popup( data-num="6" )
    h3 Семена Гордого, д.6
    h3 Квартиры
    p Сдан
    | 1 комната от 45,9 м<sup>2</sup>, от 3 940 000 руб.
    br
    | 2 комнаты от 45,9 м<sup>2</sup>, от 3 940 000 руб.
    br
    | 3 комнаты от 45,9 м<sup>2</sup>, от 3 940 000 руб.
          
    hr
          
    a( href="" ) Все предложения
  
  .b-visual__popup( data-num="8" )
    h3 Семена Гордого, д.8
    h3 Квартиры
    p Сдан
    | 1 комната от 45,9 м<sup>2</sup>, от 3 940 000 руб.
    br
    | 2 комнаты от 45,9 м<sup>2</sup>, от 3 940 000 руб.
    br
    | 3 комнаты от 45,9 м<sup>2</sup>, от 3 940 000 руб.
          
    hr
          
    a( href="" ) Все предложения
  
  .b-visual__popup( data-num="10" )
    h3 Семена Гордого, д.10
    h3 Квартиры
    p Сдан
    | 1 комната от 45,9 м<sup>2</sup>, от 3 940 000 руб.
    br
    | 2 комнаты от 45,9 м<sup>2</sup>, от 3 940 000 руб.
    br
    | 3 комнаты от 45,9 м<sup>2</sup>, от 3 940 000 руб.
          
    hr
          
    a( href="" ) Все предложения
  
  .b-visual__popup( data-num="12" )
    h3 Семена Гордого, д.12
    h3 Квартиры
    p Сдан
    | 1 комната от 45,9 м<sup>2</sup>, от 3 940 000 руб.
    br
    | 2 комнаты от 45,9 м<sup>2</sup>, от 3 940 000 руб.
    br
    | 3 комнаты от 45,9 м<sup>2</sup>, от 3 940 000 руб.
          
    hr
          
    a( href="" ) Все предложения

// end /components/visual/