.b-flat-choice
  img.b-flat-choice__bg( src="/upload/gallery/1.jpg" alt="" )
  
  .b-flat-choice__flats
    h3 ГП №4
    
    table
      thead
        tr
          th Сдан
          th
          th
      tbody
        tr
          td 1 комната
          td 45,0-49,24 м<sup>2</sup>
          td от 3 940 000 руб.
        tr
          td 2 комнаты
          td 45,0-49,24 м<sup>2</sup>
          td от 3 940 000 руб.
        tr
          td 3 комнаты
          td 45,0-49,24 м<sup>2</sup>
          td от 3 940 000 руб.
          
    hr
          
    .text-center
      a.b-button Выбрать квартиру