extends ../../layouts/main

block title
  title Типы предложений | NN
  
block ph-styles
  link( href="/template/placeholders/offers.css" rel="stylesheet" )

block content
  
    
  section#gallery.container
        
    .b-gallery__ph
      .b-gallery__ph-container
    
    include ../../components/top-gallery/template
  
  hr.i-size-L
  
  section#planText.container
  
    include ../../modules/heading/how-to-get-to
    
    .b-plan-text-ph
      .b-plan-text-ph__col
        div
      .b-plan-text-ph__text
        div
        div
        div
        div
        div
    
    .b-plan-text
      .row

        .col.m6.s12
          
          include ../../modules/ymap/saleoffice
          
        hr.show-on-small.hide-on-med-and-up.clearfix
        
        .col.m6.s12
          p
            b На автомобиле:
            br
            | Из Москвы — по Киевскому шоссе, съезд в районе 21 км по указателю Первомайское, жилой комплекс «Ново-Никольское», далее прямо до круговой развязки — первый съезд, через 350 м поворот направо — въезд на территорию ЖК.

          p
            b На общественном транспорте:
            br
            | Электричка — от станции «Апрелевка» на автобусе № 1031 до остановки ЖК «Ново-Никольское»

          p Метро — от «Саларьево» на автобусе № 304 (выходные дни), 304к (будние дни) до остановки ЖК «Ново-Никольское». Остановка общественного транспорта расположена напротив дома № 1 по адресу ул. Семена Гордого.

          p
            b Территориальный офис продаж:
            br
            | Москва, деревня Ивановское поселение Первомайское, ул. Семена Гордого, 3

          p
            b Режим работы:
            br
            | Ежедневно с 10:00 до 19:00
          
          hr
          
          .row
            
            .col.xl6.l12
              a.b-button Заказать обратный звонок
              
            hr.hide-on-xlarge-only.clearfix
              
            .col.xl6.l12
              .b-plan-text__tel +7 (495) 162-61-40
  
  hr.i-size-L
  
  section#advantages.container
  
    include ../../modules/heading/advantages
    
    .row
      .col.m3.s6
        img( src="/upload/advantages/1.svg" alt="" )
        p  4 секционный<br>дом клубного формата
        
      .col.m3.s6
        img( src="/upload/advantages/2.svg" alt="" )
        p Подземный паркинг<br>на 249 машино-мест
        
      hr.show-on-small.hide-on-med-and-up.clearfix
        
      .col.m3.s6
        img( src="/upload/advantages/3.svg" alt="" )
        p Детский досуговый центр<br>на первом этаже
        
      .col.m3.s6
        img( src="/upload/advantages/4.svg" alt="" )
        p Благоустроенная придомовая<br>территория
    
    .row
      .col.m3.s6
        img( src="/upload/advantages/5.svg" alt="" )
        p Cпортивная<br>и детская площадки,<br>зона отдыха
        
      .col.m3.s6
        img( src="/upload/advantages/6.svg" alt="" )
        p Высокая<br>транспортная<br>доступность
        
      hr.show-on-small.hide-on-med-and-up.clearfix
        
      .col.m3.s6
        img( src="/upload/advantages/7.svg" alt="" )
        p Развитая<br>инфраструктура<br>района
        
      .col.m3.s6
        img( src="/upload/advantages/8.svg" alt="" )
        p Доступные<br>финансовые<br>программы
  
  hr.i-size-L
    
  section#visual.container.hide-on-small-only.show-on-medium-and-up
    
    include ../../modules/heading/flat-choice

    .b-visual__ph
  
    include ../../components/visual/template
  
  hr.i-size-L
  
  section#description.container
    include ../../modules/heading/description
    
    .row
    
      .col.m6
        p Масштабный жилой комплекс «Ново-Никольское» расположен в живописном районе Новой Москвы, в 21 км от МКАД по Киевскому шоссе. Комплекс полностью построен. На территории 115 Га представлены разнообразные форматы жилья: коттеджи, дуплексы, таунхаусы, квартиры в малоэтажных и многоэтажных домах.
        
        p Жители «Ново-Никольского» получают московскую прописку и жилье высокого уровня комфорта, расположенное в экологически чистом месте с прекрасно развитой инфраструктурой.

        p Для удобства и комфорта жильцов на территории комплекса построена школа на 825 мест, детский сад на 150 мест, минимаркет, организованы детские и спортивные площадки. Детский сад и школа в ближайшее время будут введены в эксплуатацию. Для автовладельцев в комплексе предусмотрены парковочные места, как на придомовой территории, так и в крытом семиуровневом паркинге.

        blockquote Все объекты построенны и введены в эксплуатацию.
        
      hr.hide-on-med-and-up.clearfix
        
      .col.m6
        blockquote Придомовая территория комплекса благоустроена, произведено озеленение с высадкой деревьев и кустарников, разбиты газоны и клумбы.

        p Для обеспечения безопасности комплекс огорожен по периметру, на въездах установлены КПП со шлагбаумами. По желанию все собственники квартир, коттеджей, таунхаусов будут иметь возможность установить дополнительный многоуровневый охранный комплекс для подключения к пультовой охране. 

        p Придомовая территория комплекса благоустроена, произведено озеленение с высадкой деревьев и кустарников, разбиты газоны и клумбы.
        
        p Со стороны Киевского шоссе «Ново-Никольское» окружают лесные массивы, а река Десна, протекающая вдоль территории ЖК, украшена живописным каскадом прудов. В километре от комплекса находится усадьба Старо-Никольское, главный дом усадьбы был построен в 19 веке, а в 2015 г. усадьба была отреставрирована.
  
  hr.i-size-L
  
  section#buildings.container
    include ../../modules/buildings/include
  
  hr.i-size-L
  