extends ../../layouts/main

block title
  title Генплан | NN
  
block ph-styles
  link( href="/template/placeholders/plan.css" rel="stylesheet" )

block content
  
  .container

    hr
    h1 Генплан
    
  section#plan.container
        
    .b-plan__ph
    
      .b-plan__ph__text
        div
        div
        div
        div
        
      .b-plan__ph__map
    
    include ../../components/plan/template
  
  hr.i-size-L
  
  