a.b-news__img( href="" style="background-image: url(/upload/gallery/1.jpg);" alt="" )
hr
a.b-news__title( href="" ) Офис продаж ЖК "Ново-Никольское" переходит в режим онлайн
hr
.b-news__text Масштабный жилой комплекс «Ново-Никольское» расположен в живописном районе Новой Москвы, в 21 км от МКАД по Киевскому шоссе.
hr
.b-news__date 30 марта 2020