// start /components/banks/

link( rel="stylesheet", href="/components/banks/style.css" )
script( src="/components/banks/script.js" )

.b-tabs

  .b-tabs__menu
    .b-tabs__item.i-active( data-tab="banks1" ) Коттеджи и дуплексы
    .b-tabs__item( data-tab="banks2" ) Квартиры и таунхаусы
    
  hr
    
  .b-tabs__tab.i-active( data-tab="banks1" )
    
    table.b-banks-table
      thead
        tr
          th Название банка 1
          th Годовые<br>проценты
          th Первоначальный<br>взнос
          th Максимальная<br>сумма кредита
          th Срок<br>кредитования
      tbody
        tr
          td
            img( src="/upload/banks/1.jpg" alt="" )
          td от 6,0 %
          td от 15 %
          td 60 000 000
          td до 30 лет
        tr
          td
            img( src="/upload/banks/2.jpg" alt="" )
          td от 6,0 %
          td от 15 %
          td 60 000 000
          td до 30 лет
        tr
          td
            img( src="/upload/banks/3.jpg" alt="" )
          td от 6,0 %
          td от 15 %
          td 60 000 000
          td до 30 лет
        tr
          td
            img( src="/upload/banks/4.jpg" alt="" )
          td от 6,0 %
          td от 15 %
          td 60 000 000
          td до 30 лет
      
  
  .b-tabs__tab( data-tab="banks2" )
  
    table.b-banks-table
      thead
        tr
          th Название банка 2
          th Годовые<br>проценты
          th Первоначальный<br>взнос
          th Максимальная<br>сумма кредита
          th Срок<br>кредитования
      tbody
        tr
          td
            img( src="/upload/banks/1.jpg" alt="" )
          td от 6,0 %
          td от 15 %
          td 60 000 000
          td до 30 лет
        tr
          td
            img( src="/upload/banks/2.jpg" alt="" )
          td от 6,0 %
          td от 15 %
          td 60 000 000
          td до 30 лет
        tr
          td
            img( src="/upload/banks/3.jpg" alt="" )
          td от 6,0 %
          td от 15 %
          td 60 000 000
          td до 30 лет
        tr
          td
            img( src="/upload/banks/4.jpg" alt="" )
          td от 6,0 %
          td от 15 %
          td 60 000 000
          td до 30 лет

  
// end /components/banks/