
<!-- start /components/actions/-->
<link rel="stylesheet" href="/components/actions/style.css"/>
<script src="/components/actions/script.js"></script>
<div class="b-actions b-load">
  <div class="b-load__item">
    <div class="row">
      <div class="col s12 m4"><a class="b-actions__img" href="" style="background-image: url(/upload/gallery/1.jpg);" alt=""></a>
        <hr/><a class="b-actions__title" href="">Офис продаж ЖК "Ново-Никольское" переходит в режим онлайн</a>
        <hr/>
        <div class="b-actions__text">Масштабный жилой комплекс «Ново-Никольское» расположен в живописном районе Новой Москвы, в 21 км от МКАД по Киевскому шоссе.</div>
        <hr/>
        <div class="b-actions__date">30 марта 2020</div>
      </div>
      <hr class="i-size-L show-on-small hide-on-med-and-up clearfix"/>
      <div class="col s12 m4"><a class="b-actions__img" href="" style="background-image: url(/upload/gallery/1.jpg);" alt=""></a>
        <hr/><a class="b-actions__title" href="">Офис продаж ЖК "Ново-Никольское" переходит в режим онлайн</a>
        <hr/>
        <div class="b-actions__text">Масштабный жилой комплекс «Ново-Никольское» расположен в живописном районе Новой Москвы, в 21 км от МКАД по Киевскому шоссе.</div>
        <hr/>
        <div class="b-actions__date">30 марта 2020</div>
      </div>
      <hr class="i-size-L show-on-small hide-on-med-and-up clearfix"/>
      <div class="col s12 m4"><a class="b-actions__img" href="" style="background-image: url(/upload/gallery/1.jpg);" alt=""></a>
        <hr/><a class="b-actions__title" href="">Офис продаж ЖК "Ново-Никольское" переходит в режим онлайн</a>
        <hr/>
        <div class="b-actions__text">Масштабный жилой комплекс «Ново-Никольское» расположен в живописном районе Новой Москвы, в 21 км от МКАД по Киевскому шоссе.</div>
        <hr/>
        <div class="b-actions__date">30 марта 2020</div>
      </div>
    </div>
    <hr class="i-size-L show-on-small hide-on-med-and-up clearfix"/>
    <div class="row">
      <div class="col s12 m4"><a class="b-actions__img" href="" style="background-image: url(/upload/gallery/1.jpg);" alt=""></a>
        <hr/><a class="b-actions__title" href="">Офис продаж ЖК "Ново-Никольское" переходит в режим онлайн</a>
        <hr/>
        <div class="b-actions__text">Масштабный жилой комплекс «Ново-Никольское» расположен в живописном районе Новой Москвы, в 21 км от МКАД по Киевскому шоссе.</div>
        <hr/>
        <div class="b-actions__date">30 марта 2020</div>
      </div>
      <hr class="i-size-L show-on-small hide-on-med-and-up clearfix"/>
      <div class="col s12 m4"><a class="b-actions__img" href="" style="background-image: url(/upload/gallery/1.jpg);" alt=""></a>
        <hr/><a class="b-actions__title" href="">Офис продаж ЖК "Ново-Никольское" переходит в режим онлайн</a>
        <hr/>
        <div class="b-actions__text">Масштабный жилой комплекс «Ново-Никольское» расположен в живописном районе Новой Москвы, в 21 км от МКАД по Киевскому шоссе.</div>
        <hr/>
        <div class="b-actions__date">30 марта 2020</div>
      </div>
      <hr class="i-size-L show-on-small hide-on-med-and-up clearfix"/>
      <div class="col s12 m4"><a class="b-actions__img" href="" style="background-image: url(/upload/gallery/1.jpg);" alt=""></a>
        <hr/><a class="b-actions__title" href="">Офис продаж ЖК "Ново-Никольское" переходит в режим онлайн</a>
        <hr/>
        <div class="b-actions__text">Масштабный жилой комплекс «Ново-Никольское» расположен в живописном районе Новой Москвы, в 21 км от МКАД по Киевскому шоссе.</div>
        <hr/>
        <div class="b-actions__date">30 марта 2020</div>
      </div>
    </div>
    <hr class="i-size-L show-on-small hide-on-med-and-up clearfix"/>
    <div class="b-load__button-block">
      <hr class="i-size-L hide-on-small-only"/>
      <div class="text-center"><a class="b-button b-load__button" href="" data-ajax-url="/components/actions/ajax-response.html?page=1" data-ajax-method="GET">Загрузить больше  </a></div>
    </div>
  </div>
</div>
<!-- end /components/actions/-->