// start /components/filter/

link( rel="stylesheet", href="/components/filter/style.css" )
script( src="/components/filter/script.js" )

.b-filter
    
    include ./table-2-rooms
              
// end /components/filter/