// start /components/top-gallery/

link( href="/template/fotorama.css" rel="stylesheet" )
script( src="/template/fotorama.js" )

link( rel="stylesheet", href="/components/top-gallery/style.css" )
script( src="/components/top-gallery/script.js" )

.b-top-gallery

  .b-top-gallery__fotorama
  
    include ../../modules/fotorama/top-gallery

// end /components/top-gallery/