// start /components/form/

link( rel="stylesheet", href="/components/form/style.css" )
script( src="/components/form/script.js" )
   
.b-form   
  form(action="/form/?id=156bf0a1-72db-e811-a2c4-0050568b3458&formid=5" method="post")
  
    input(name="form_sended" type="hidden" value="y")
    input#url(name="url" type="text" style="display:none;")
    input#email(name="email" value="" type="text" style="display:none;")
    
    textarea#DATA.hidden(name="DATA" style="display:none;")
      | Код: 156bf0a1-72db-e811-a2c4-0050568b3458
      | Секция: 1
      | Количество комнат: 1
      | Этаж: 4
      | Площадь: 39.08
      | Цена: 7 530 833
      
    .input-field
      input#NAME.validate(name="NAME" type="text" required="")
      label(for="NAME")  Имя
      
    .input-field
      input#TEL.validate(name="TEL" type="tel" required="" maxlength="18")
      label(for="TEL")  Номер телефона
      
    .input-field
      input#MAIL.validate(name="MAIL" type="text")
      label(for="MAIL")  Email
      
    .input-field
      textarea#TEXT.materialize-textarea(name="TEXT")
      label(for="TEXT") Сообщение
      
    hr
    
    div
      label
        input(type="checkbox" required="" checked="checked" name="agreement")
        span
          | Я согласен на обработку персональных данных. 
          a(href="/legacy/") Соглашение на обработку персональных данных
          
    hr.i-size-L
    
    .text-center
      button.b-button(type="submit") Отправить заявку
        
    hr.i-size-XL

// end /components/form/