// start /components/gallery/

link( href="/template/fotorama.css" rel="stylesheet" )
script( src="/template/fotorama.js" )

link( rel="stylesheet", href="/components/gallery/style.css" )
script( src="/components/gallery/script.js" )

.b-big-gallery

  include ../../modules/fotorama/gallery

// end /components/gallery/