footer.b-footer
  .container
  
    .b-footer__logo
      img( src="/template/images/logo-nn.svg" alt="Ново-Никольское" )
      
    hr.i-size-M
      
    .row
    
      .col.l4.m12.s12
        menu
          li
            a( href="" ) Инфраструктура
          li
            a( href="" ) Инфраструктура
          li
            a( href="" ) Инфраструктура
          li
            a( href="" ) Инфраструктура
        
      .col.l4.m12.s12
        menu
          li
            a( href="" ) Документы
          li
            a( href="" ) Документы
          li
            a( href="" ) Документы
        
      .col.l4.m12.s12
        menu
          li
            a( href="" ) Многоэтажные дома
          li
            a( href="" ) Многоэтажные дома
          li
            a( href="" ) Многоэтажные дома
          li
            a( href="" ) Многоэтажные дома
          li
            a( href="" ) Многоэтажные дома
        
    .b-footer__copyright
      p &copy; Новоникольское 2020 год.
      p Официальный сайт жилого комплекса Ново-Никольское в Новой Москве.