footer.b-footer
  .container
  
    .b-footer__logo
      img( src="/template/images/logo-nn.svg" alt="Ново-Никольское" )
      
    hr.i-size-M
      
    .row
    
      .col.l3.m12.s12
        menu
          li
            a( href="" ) Инфраструктура
          li
            a( href="" ) Инфраструктура
          li
            a( href="" ) Инфраструктура
          li
            a( href="" ) Инфраструктура
        
      .col.l3.m12.s12
        menu
          li
            a( href="" ) Документы
          li
            a( href="" ) Документы
          li
            a( href="" ) Документы
        
      .col.l3.m12.s12
        menu
          li
            a( href="" ) Многоэтажные дома
          li
            a( href="" ) Многоэтажные дома
          li
            a( href="" ) Многоэтажные дома
          li
            a( href="" ) Многоэтажные дома
          li
            a( href="" ) Многоэтажные дома

      hr.show-on-small.hide-on-med-and-up.clearfix

      .col.l3.m12.s12
        .b-footer__social
          span Соц. сети
          hr.i-size-S
          a( href="" style="background-image: url('/template/images/vk.svg')" )
          a( href="" style="background-image: url('/template/images/instagram.svg')" )
          a( href="" style="background-image: url('/template/images/facebook.svg')" )
        
    .b-footer__copyright
      p &copy; Новоникольское 2020 год.
      p Официальный сайт жилого комплекса Ново-Никольское в Новой Москве.