header.b-header
    
  .b-header__ph
    .b-header__ph-container.container
      .b-header__ph-logo
        div
  
  .b-header__container
  
    .container
    
      a.b-header__logo( href="/pages/main/" )
        img( src="/template/images/logo-nn.svg" alt="Ново-Никольское" )
        
      #bx_incl_area_2
        .b-header__menu
          a( href="/pages/plan/" ) Генплан
          span Многоэтажные дома
          a( href="/pages/offers" ) Малоэтажные дома
          a( href="/pages/offers" ) Таунхаусы
          a( href="/pages/offers" ) Коттеджи
          a( href="/pages/offers" ) Дуплексы
          a( href="#panorama" ) Панорама
          a( href="#gallery" ) Галерея
          a( href="#docs" ) Документы
          a( href="#sale" ) Акции
        
      .b-header__icons
      
        #bx_incl_area_3
          a.b-header__phone.hide-on-small-only( href="tel:+7 (495) 162-61-40" ) +7 (495) 162-61-40
        
        .b-header__side-nav-icon.sidenav-trigger( style="background-image: url( /template/images/menu.svg);" data-target="sideNav" )
      
  #sideNav.sidenav
    .b-sidenav-close

    a( href="/pages/prices/" ) Цены
    a( href="/pages/hypothec/" ) Ипотека

    hr

    a( href="/pages/prices/" ) Инфраструктура
    a( href="/pages/prices/" ) Расположение
    a( href="/pages/visual/" ) Панорама

    hr
    
    a( href="/pages/docs/" ) Документы
    a( href="/pages/plan/" ) Генплан
    a( href="/pages/galleries/" ) Галерея

    a( href="/pages/prices/?type=highrise" ) Многоэтажные дома
    a( href="/pages/prices/?type=lowrise" ) Малоэтажные дома
    a( href="/pages/prices/?type=townhouse" ) Таунхаусы
    a( href="/pages/prices/?type=duplex" ) Дуплексы
    a( href="/pages/prices/?type=cottage" ) Коттеджи
    a( href="/pages/prices/?type=apartament" ) Квадрохаусы

    hr

    span Паркинг

    hr
    
    a( href="/pages/prices/?type=highrise" ) Коммерческая недвижимость

    hr

    a( href="/pages/prices/" ) Ново-Никольская гимназия
    a( href="/pages/news/" ) Новости
    
    hr
    
    a.b-sidenav-phone( href="tel:+7 (495) 162-61-40" ) +7 (495) 162-61-40

    hr

    .b-sidenav__social
      a( href="" style="background-image: url('/template/images/vk.svg')" )
      a( href="" style="background-image: url('/template/images/instagram.svg')" )
      a( href="" style="background-image: url('/template/images/facebook.svg')" )
      