meta( charset="utf-8" )
meta( name="keywords", content="")
meta( name="description", content="")
meta( name="viewport" content="width=device-width, initial-scale=1" )

meta( property="og:title" content="Ново-Никольское" )
meta( property="og:description" content="Масштабный жилой комплекс «Ново-Никольское» расположен в живописном районе Новой Москвы." )
meta( property="og:image" content="http://nn-markup.2px.ru/upload/gallery/1.jpg" )
meta( property="og:type" content="article" )
meta( property="og:url" content= "http://nn-markup.2px.ru/pages/main/"  )