
<!-- start /components/top-gallery/-->
<link href="/template/fotorama.css" rel="stylesheet"/>
<script src="/template/fotorama.js"></script>
<link rel="stylesheet" href="/components/top-gallery/style.css"/>
<script src="/components/top-gallery/script.js"></script>
<div class="b-top-gallery">
  <div class="b-top-gallery__fotorama">
    <div class="b-fotorama">
      <div class="b-fotorama__gallery" data-ratio="2.6" data-width="100%" data-arrows="true" data-click="true" data-swipe="true" data-loop="true">
        <div class="b-fotorama__frame">
          <div class="b-fotorama__sticky-content">
            <div class="b-fotorama__height"></div>
            <div class="b-fotorama__text">
              <p>Все плюсы городской жизни в природном окружении</p>
              <div class="b-button">Заказать обратный звонок</div>
            </div>
          </div>
          <div class="b-fotorama__container i-show"><img class="b-fotorama__image hide-on-small-only" src="/upload/gallery/1.jpg" width="100%" alt=""/><span class="b-fotorama__image-bg hide-on-med-and-up" style="background-image: url( '/upload/gallery/1.jpg' );"></span></div>
        </div>
        <div class="b-fotorama__frame">
          <div class="b-fotorama__container i-show"><img class="b-fotorama__image hide-on-small-only" src="/upload/gallery/1.jpg" width="100%" alt=""/><span class="b-fotorama__image-bg hide-on-med-and-up" style="background-image: url( '/upload/gallery/1.jpg' );"></span></div>
        </div>
        <div class="b-fotorama__frame">
          <div class="b-fotorama__container i-show"><img class="b-fotorama__image hide-on-small-only" src="/upload/gallery/1.jpg" width="100%" alt=""/><span class="b-fotorama__image-bg hide-on-med-and-up" style="background-image: url( '/upload/gallery/1.jpg' );">       </span></div>
        </div>
        <div class="b-fotorama__frame">
          <div class="b-fotorama__container i-show"><img class="b-fotorama__image hide-on-small-only" src="/upload/gallery/1.jpg" width="100%" alt=""/><span class="b-fotorama__image-bg hide-on-med-and-up" style="background-image: url( '/upload/gallery/1.jpg' );"></span></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end /components/top-gallery/-->