// start /components/gallery-tabs/

link( href="/template/swiper.min.css" rel="stylesheet" )
script( src="/template/swiper.min.js" )

link( rel="stylesheet", href="/components/gallery-tabs/style.css" )
script( src="/components/gallery-tabs/script.js" )

.b-tabs-gallery

  .b-tabs-gallery__nav

    a.i-active( href="" data-tab="gallery1" ) ГАЛЕРЕЯ 1
    a( href="" data-tab="gallery2" ) ГАЛЕРЕЯ 2
    a( href="" data-tab="gallery3" ) ГАЛЕРЕЯ 3

  .b-tabs-gallery__tab.i-active( data-tab="gallery1" )

    .b-tabs-gallery__arrows
      .b-tabs-gallery__arrows-prev
      .b-tabs-gallery__arrows-next

    .swiper
      .swiper-wrapper
        .swiper-slide
          a( href="/upload/gallery/2.jpg" )
            img(src="/upload/gallery/1.jpg" alt="")
        .swiper-slide
          a( href="/upload/gallery/2.jpg" )
            img(src="/upload/gallery/2.jpg" alt="")
        .swiper-slide
          a( href="/upload/gallery/2.jpg" )
            img(src="/upload/gallery/3.jpg" alt="")

  .b-tabs-gallery__tab( data-tab="gallery2" )

    .b-tabs-gallery__arrows
      .b-tabs-gallery__arrows-prev
      .b-tabs-gallery__arrows-next

    .swiper
      .swiper-wrapper
        .swiper-slide
          a( href="" )
            img(src="/upload/gallery/2.jpg" alt="")
        .swiper-slide
          a( href="" )
            img(src="/upload/gallery/3.jpg" alt="")
        .swiper-slide
          a( href="" )
            img(src="/upload/gallery/4.jpg" alt="")
        .swiper-slide
          a( href="" )
            img(src="/upload/gallery/5.jpg" alt="")
        .swiper-slide
          a( href="" )
            img(src="/upload/gallery/6.jpg" alt="")
        .swiper-slide
          a( href="" )
            img(src="/upload/gallery/7.jpg" alt="")
        .swiper-slide
          a( href="" )
            img(src="/upload/gallery/8.jpg" alt="")
        .swiper-slide
          a( href="" )
            img(src="/upload/gallery/9.jpg" alt="")

  .b-tabs-gallery__tab( data-tab="gallery3" )

    .b-tabs-gallery__arrows
      .b-tabs-gallery__arrows-prev
      .b-tabs-gallery__arrows-next

    .swiper
      .swiper-wrapper
        .swiper-slide
          a( href="" )
            img(src="/upload/gallery/3.jpg" alt="")
        .swiper-slide
          a( href="" )
            img(src="/upload/gallery/4.jpg" alt="")
        .swiper-slide
          a( href="" )
            img(src="/upload/gallery/5.jpg" alt="")
        .swiper-slide
          a( href="" )
            img(src="/upload/gallery/6.jpg" alt="")
        .swiper-slide
          a( href="" )
            img(src="/upload/gallery/7.jpg" alt="")
        .swiper-slide
          a( href="" )
            img(src="/upload/gallery/8.jpg" alt="")
        .swiper-slide
          a( href="" )
            img(src="/upload/gallery/9.jpg" alt="")

// end /components/gallery-tabs/