extends ../../../layouts/main

block title
  title Акция детально | NN
  
block ph-styles
  link( href="/template/placeholders/actions-detail.css" rel="stylesheet" )

block content

  hr
  
  section#actionsDetail.container
  
    .b-actions-detail__ph
      .b-actions-detail__ph__label
      .b-actions-detail__ph__h1
      .b-actions-detail__ph__img
      .b-actions-detail__ph__text
        div
        div
        div
        div
        div
  
    include ../../../components/actions.detail/template
  
  hr.i-size-L
  