#hypothec
  position relative
  
#hypothecCalculator
  position absolute
  top 0
  left 0
  width 100%
  transition( opacity .5s ease )
  opacity 0
  z-index 0
  
.b-hypothec__ph
  transition( opacity .5s ease )
  height: 507px;
  background-color $placeholder-color
  
  @media( max-width 992px )
    height 502px
  
  @media( max-width 600px )
    height 817px