// start /components/docs/

link( rel="stylesheet", href="/components/docs/style.css" )
script( src="/components/docs/script.js" )
  
include ../../modules/heading/docs1

.b-docs__ph
  div
  div
  div
  div
  div
  div

include ./docs
 
include ../../modules/heading/docs2

.b-docs__ph
  div
  div
  div
  div
  div
  div

include ./docs

include ../../modules/heading/docs2

.b-docs__ph
  div
  div
  div
  div
  div
  div

include ./docs

// end /components/docs/