extends ./layouts/main

block title
  title Links tree | NN
  
block ph-styles
  link( href="/template/placeholders/main.css" rel="stylesheet" )

block content

  .container
    
    hr.i-size-XL
    
    h1 NN
    
    ul
      li
        a( href="/pages/main/" ) Главная
      li
        a( href="/pages/galleries/" ) Галерея с белыми и синими стрелками
      li
        a( href="/pages/gallery-tabs/" ) Галерея с табами
      li
        a( href="/pages/offers/" ) Типы предложений
      li
        a( href="/pages/prices/" ) Цены
      li
        a( href="/pages/detail/" ) Детальная страница
      li
        a( href="/pages/form/" ) Форма
      li
        a( href="/pages/plan/" ) Генплан
      li
        a( href="/pages/visual/" ) Визуальный выборщик
      li
        a( href="/pages/actions/" ) Акции
      li
        a( href="/pages/actions/actions-detail/" ) Акция детально
      li
        a( href="/pages/news/" ) Новости
      li
        a( href="/pages/news/news-detail/" ) Новость детально
      li
        a( href="/pages/gallery/" ) Галерея
      li
        a( href="/pages/docs/" ) Документы
      li
        a( href="/pages/hypothec/" ) Ипотека
      li
        a( href="/pages/2-rooms/" ) 2-комнатные
      li
        a( href="/pages/kvartiry-s-otdelkoy/" ) Квартиры с отделкой
      li
        a( href="/subdomains/taunkhausy/" ) taunkhausy.n-nk.ru
        
    hr.i-size-XL