doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document

body

  .countdown( data-date="1680616352209")

  script( src="/template/jquery-3.4.1.min.js" )
  script( src="/template/plugin/jquery.countdown.js" )
  script( src="/test.js" )
