extends ../../layouts/main

block title
  title Галерея с табами | NN
  
block ph-styles
  link( href="/template/placeholders/gallery-tabs.css" rel="stylesheet" )

block content
  
  .container

    hr
    h1 Галерея с табами
  
  section#tabsGallery.container

    .b-tabs-gallery__ph

      .b-tabs-gallery__ph__nav
      .b-tabs-gallery__ph__gallery
        div
        div
        div
        div
  
    include ../../components/gallery-tabs/template
  
  hr.i-size-L
  