@import '../vars.styl'
@import '../mixins.styl'

@import './scaffolding/gui.styl'
@import './scaffolding/header.styl'
@import './scaffolding/footer.styl'

@import './components/top-gallery.styl'

@import './modules/buildings.styl'
@import './modules/heading.styl'
@import './modules/advantages.styl'
@import './modules/description.styl'
@import './modules/description.styl'